@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

.container{ 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "header header header"
  "pageNames profilePic nameOfPage"
  "pageNames profilePic basicInfo"
  "sideProfile paragraph paragraph"
  "paragraphTwo paragraphTwo sideProfileTwo"
  "footer footer footer";
  grid-gap: 10px
}

body{
  background-color: #ffffff;
}

nav{
  grid-area: nav;
  background-color: #00eda6;
  border-style: groove;
  padding: 10px;
  text-align: center; /*lmao this whole thing is actually pointless*/
}

header{
  grid-area: header;
  background-color: #00eda6;
  border-style: groove;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}

.pageNames{
  grid-area: pageNames; 
  background-color: #00eda6;
  border-style: groove;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;

}

.profilePic{
  grid-area: profilePic;
  background-color: #00eda6;
  border-style: groove;
  text-align: center;
}

.nameOfPage{
  grid-area: nameOfPage;
  background-color: #00eda6;
  border-style: groove;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
 font-family: 'Titillium Web', sans-serif;
 font-size: 20px;  
}

.basicInfo{

  grid-area: basicInfo;
  background-color: #00eda6;
  border-style: groove;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
}

.paragraph{
  grid-area: paragraph;
  background-color: #00eda6;
  border-style: groove;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
}

.paragraphTwo{
  grid-area: paragraphTwo;
  background-color: #00eda6;
  border-style: groove;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
}
.sideProfile{
  grid-area: sideProfile;
  background-color: #00eda6;
  border-style: groove;
  padding-top: 50px;
  padding-bottom: 50px;
font-size: 20px;
}

.sideProfileTwo{
  grid-area: sideProfileTwo;
  background-color: #00eda6; 
  border-style: groove;
  padding-top: 50px;
  padding-bottom: 50px;
font-size: 20px;
}

footer{
  grid-area: footer;
  background-color: #00eda6;
  border-style: groove;
  text-align: center;
 font-family: 'Titillium Web', sans-serif;
 font-size: 20px;
}

 img {
  max-width: 100%;
}