.container{
  display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: auto;
grid-template-areas:
"nav nav nav"
"header header header"
"pageNames"
"profilePic nameOfPage basicInfo"
"paragraph paragraph paragraph"
"footer footer footer"
}

body{
  background-color: #4326FF;
}

nav{
grid-area: nav;
background-color: #ffffff;
}

header{
  grid-area: header;
  background-color: #ffffff;
}

.pageNames{
  grid-area: pageNames; 
  background-color: #ffffff;
}

.profilePic{
  grid-area: profilePic;
  background-color: #ffffff;
}

.nameOfPage{
  grid-area: nameOfPage;
  background-color: #ffffff;
}

.basicInfo{
  grid-area: basicInfo;
  background-color: #ffffff;
}

.paragraph{
  grid-area: paragraph;
  background-color: #ffffff;
}

footer{
grid-area: foooter;
background-color: #ffffff;
}